<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <section class="section-main">
                <h2 class="heading">Make the world a tastier place!</h2>
                <p class="text">Share your favorite restaurant or find recommendations of other users!</p>
                <ul class="btn-link">
                    <li class="link-list">
                        <button class="btn">
                            <a href="/browse" class="link">Browse Shared Restaurants</a>
                        </button>
                    </li>

                    <li class="link-list">
                        <button class="btn">
                            <a href="/share" class="link">Share Your Favorite Restaurant</a>
                        </button>
                    </li>
                </ul>
            </section>
        </main>
</body>

</html>