<header class="main-header">
    <a href="/" id="logo">Eatwell</a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-link">
                <a href="/browse">Browse Restaurant</a>
            </li>

            <li class="main-nav-link">
                <a href="/share">Share a Restaurant</a>
            </li>

            <li class="main-nav-link">
                <a href="/about">About Eatwell</a>
            </li>
        </ul>
    </nav>
    <button class="menu-btn">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
</header>