<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/CSS/about.css">
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <section>
                <h2>Something went wrong!</h2>
                <p>
                    Unfortunately, Something went wrong on the serveer - we're doing our
                    best to fix it as quick as possible.
                </p>
            </section>
        </main>
</body>

</html>